@import "tailwindcss";

:root {
  --background: #ffffff;
  
}

 .my-background-div {
      background-image: url('/HeroImg.jpg');
      background-size: cover; 
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh; 
      width: 100%;
    }
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
